@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
  background-image: url(../../../images/1940swomenpants.jpg)
}

.form-group {
  font-family: 'Limelight', cursive; 
}

#zipper {
  color: white;
}
