@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
  background-image: url(../../../images/vintagehomepage.png)
}

.app {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.quad {
  text-align: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50% ;
}

img {
  height: 15em;
  border-radius: 25px 25px 25px 25px;
  margin: 25px;
}

#pant {
  height: 300;
  width: 300;
}

h3 {
  color: white;
  font-family: 'Limelight', cursive;
};
